{# SPDX-License-Identifier: Apache-2.0 #}
{# tacacs_server - Policy template #}
{
  "default_allow": {{ tacacs_default_allow | to_json }},
{% if tacacs_policy_rules is defined and tacacs_policy_rules | length > 0 %}
  "rules": {{ tacacs_policy_rules | to_json(indent=4) }},
{% else %}
  "rules": [],
{% endif %}
{% if tacacs_shell_start is defined and tacacs_shell_start | length > 0 %}
  "shell_start": {{ tacacs_shell_start | to_json(indent=4) }},
{% else %}
  "shell_start": {},
{% endif %}
{% if tacacs_ascii_prompts is defined %}
  "ascii_prompts": {{ tacacs_ascii_prompts | to_json(indent=4) }},
{% endif %}
{% if tacacs_ascii_messages is defined %}
  "ascii_messages": {{ tacacs_ascii_messages | to_json(indent=4) }},
{% endif %}
  "allow_raw_server_msg": {{ tacacs_allow_raw_server_msg | default(true) | to_json }},
  "raw_server_msg_allow_prefixes": {{ tacacs_raw_server_msg_allow_prefixes | default([]) | to_json }},
  "raw_server_msg_deny_prefixes": {{ tacacs_raw_server_msg_deny_prefixes | default([]) | to_json }}
}
